 <div class == 'person'>
      <% if params[:name] == true and params[:adjective] == true %>
      	<h4><%= "you are nothing!" %></h4> 
    <%else%> 
      <h4><%= params[:name] + " is  " + params[:age] + "years old."%></h4> 
    <%end%>
</div>