 <div class == 'stringfy'>
    <% if params[:name] == true and params[:adjective] == true %>
      	<h4><%= "you are nothing!" %></h4> 
    <%else%> 
      <h4><%= params[:name] + " is very " + params[:adjective]%></h4> 
    <%end%>
</div>
